.board {
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.board div {
  width: 400px;
  height: 300px;
  margin: 20px;
  box-shadow: 4px 5px 4px 4px #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.board div h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.board div p {
  font-style: italic;
  font-size: 24px;
}

.postit1,
.postit5,
.postit7 {
  background-color: blanchedalmond;
  transform: rotate(-7deg);
}

.postit3,
.postit6 {
  background-color: rgb(141, 130, 238);
  transform: rotate(-7deg);
}

.postit2,
.postit4,
.postit8 {
  background-color: lightgreen;
  transform: rotate(7deg);
}
