body {
  height: 100%;
  width: 100%;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.board div {
  width: 400px;
  height: 300px;
  margin: 30px 30px;
  box-shadow: 4px 5px 4px 4px #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease-in-out;
}

.board div:hover {
  transform: scale(1.3);
  box-shadow: 0px 2px 12px 10px #0f0f0f;
  z-index: 999;
  cursor: pointer;
}

.board div h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.board div p {
  font-style: italic;
  font-size: 24px;
}

.postit1,
.postit5,
.postit7 {
  background-color: blanchedalmond;
  transform: rotate(-7deg);
}

.postit3,
.postit6 {
  background-color: rgb(141, 130, 238);
  transform: rotate(-7deg);
}

.postit2,
.postit4,
.postit8 {
  background-color: lightgreen;
  transform: rotate(7deg);
}
